<suvarna>

</suvarna>
<suvarna>
    
</suvarna>

<!-- here the disabled attribute is property binded with the allowNewDup variable in the class -->
<button class="btn btn-primary" [disabled] = "allowNewDup" (click)="onClickOnButton()">
    Allow
</button>


<!-- This uses a normal property binding approach -->
<label>Enter your name</label>
<input type="text" (input) = "onInputForName($event)">

<p> You entered {{ name }}</p>

<!-- Using both property binding and event binding  -->

<label> NgModel Approach : event your name: </label>
<input type="text" [(ngModel)] = "name">
<p> you entered {{ name }} </p>