<div class="container">

  <div class="row">

    <div class="col-xs-12">
      <img [src]="recipe.imagePath" class="img-responsive">
    </div>

  </div>

  <div class="row">
    <div class="col=xs-12">
      <h1>{{ recipe.getName() }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropDown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="addIngredientsToShoppingList()"> To Shopping List </a>
          </li>
          <li>
            <a [routerLink]="['/recipes', id, 'edit']"> Edit Recipe </a>
          </li>
          <li>
            <a (click)="onDeleteRecipe()"> Delete Recipe </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients"
        >
        {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </div>
    </div>
  </div>
</div>

